.fade-in-1 {
  -webkit-animation: fadeIn 2s linear;
     -moz-animation: fadeIn 2s linear;
      -ms-animation: fadeIn 2s linear;
       -o-animation: fadeIn 2s linear;
          animation: fadeIn 2s linear;
}

.fade-in-2 {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease 0.75s forwards;
     -moz-animation: fadeIn 1s ease 0.75s forwards;
      -ms-animation: fadeIn 1s ease 0.75s forwards;
       -o-animation: fadeIn 1s ease 0.75s forwards;
          animation: fadeIn 1s ease 0.75s forwards;
}

.fade-in-3 {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease 1.5s forwards;
     -moz-animation: fadeIn 1s ease 1.5s forwards;
      -ms-animation: fadeIn 1s ease 1.5s forwards;
       -o-animation: fadeIn 1s ease 1.5s forwards;
          animation: fadeIn 1s ease 1.5s forwards;
}

.fade-in-4 {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease 2.25s forwards;
     -moz-animation: fadeIn 1s ease 2.25s forwards;
      -ms-animation: fadeIn 1s ease 2.25s forwards;
       -o-animation: fadeIn 1s ease 2.25s forwards;
          animation: fadeIn 1s ease 2.25s forwards;
}

.fade-in-5 {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease 3s forwards;
     -moz-animation: fadeIn 1s ease 3s forwards;
      -ms-animation: fadeIn 1s ease 3s forwards;
       -o-animation: fadeIn 1s ease 3s forwards;
          animation: fadeIn 1s ease 3s forwards;
}

.fade-in-6 {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease 3.75s forwards;
     -moz-animation: fadeIn 1s ease 3.75s forwards;
      -ms-animation: fadeIn 1s ease 3.75s forwards;
       -o-animation: fadeIn 1s ease 3.75s forwards;
          animation: fadeIn 1s ease 3.75s forwards;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}